
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.adwers.com">
            Adwers.com
          </a>
        </li>
        <li>
          <a href="https://www.adwers.com/damiannass">
            About me
          </a>
        </li>
        <li>
          <a class="color-footer" href="https://stackoverflow.com/users/12246332/damian-nass?tab=profile">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a class="color-footer" href="https://www.facebook.com/damian.nass">
            <i class="fab fa-stack-overflow"></i>
          </a>
        </li>
        <li>
          <a class="color-footer" href="https://github.com/damiannass88">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="copyright">
    &copy;
    {{actualDate | date: 'yyyy'}},
    <a class="color-footer" href="https://www.adwers.com" target="_blank">Adwers.com</a>. Coded by
    <a class="color-footer" href="https://www.adwers.com/damiannass" target="_blank">Damian Nass</a>.

  </div>
</footer>
